{% extends 'base.html.twig' %}

{% block title %}Hello TypeController!{% endblock %}

{% block body %}
<a href=" {{ path('new_type')}}">Ajouter</a>
{% for type in types %}
    {{ type.name }}
    <a href="{{ path('edit_type', {'id' : type.id})}}">Modifier</a>
    <a href="{{ path('delete_type', {'id' : type.id})}}">Supprimer</a>
{% endfor %}
{% endblock %}
