{% extends 'base.html.twig' %}

{% block title %}Résultats{% endblock %}

{% block body %}
    <h1>Résultats de la recherche</h1>

    <ul>
        {% for place in places %}
            <li><a href="{{ path('show_place', {'id': place.id}) }}">{{ place.name }}</a></li>  
        {% else %}
            <li>Aucun lieu trouvé.</li>
        {% endfor %}
    </ul>
{% endblock %}
