{% extends 'base.html.twig' %}

{% block title %}Hello CustomItineraryController!{% endblock %}

{% block body %}
<main>
    {% for itinerary in itineraries %}
        {{itinerary.name}}
    {% endfor %}
</main>
{% endblock %}
