{% extends 'base.html.twig' %}

{% block title %}Hello CustomItineraryController!{% endblock %}

{% block body %}
<main class="top">
    {% for itinerary in itineraries %}
        {{itinerary.name}}
        <a href="{{ path('show_itinerary', {'id': itinerary.id}) }}">Détails</a>
    {% endfor %}
</main>
{% endblock %}
