/* nav{
    position: relative;
} */

#map{
    position: relative;
    height:95%;
    width:29vw;
    border-radius: 1rem;
    /* z-index: 0; */
}

#display-places{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    /* gap: 4rem; */
    height: 100%;
    width: 70vw;
    margin: auto;
    padding: 4rem 3rem 2rem;
    position: relative;
}

.place-infos-container{
    display: flex;
    background: white;
    padding: 0.6rem 0.8rem;
    border-radius: 0.5rem;
}

.places-wrapper{
    background: #ffffffd9;
    height: 90vh;
    margin: auto;
    width: 70vw;
    border-radius: 1rem

}

aside{
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-snap-type: y mandatory;
    height: 80%;
    width: 26vw;
    box-shadow: inset 0px -17px 7px 1px #49494952; 
    padding: 1rem;
    background-color: #7f7f7f54;
    border-radius: 1rem;
}

#places-container h2{
    font-weight:500;
    font-size:1.2em;
}

.place-img{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-right:2rem;
}

.place-img figure{
    width: 100px;
    height: 65px;
}

.place-img figure img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 0.3rem;
}

.stars-color{
    color:#fb463a;
}


/* #places-container > div {
    margin-top: 1rem;
} */

.border{
    /* width: 75%;
    border-bottom: 1px solid #00000038; */
    margin: 0.8rem auto; 
}

.index-map-container{
    /* background: linear-gradient(#ffffff69, #ffffff69), url(/img-source/bcg-test0.webp); */
    background: linear-gradient(#ffffff69, #ffffff69), url(/img-source/bcg-presentation-vignes.webp);
    /* height: 100%; */
    background-size: cover;
    padding: 5rem 2rem 2rem;
    height: 100vh;
    background-position-y: 87%;
}

.index-create-itinerary{
    position: absolute;
    bottom: 10%;
    left: 7%;
    border-radius: 0.5rem;
    background: var(--red-color);
    padding: 0.5rem 0.8rem;
}

.index-create-itinerary a{
    color: white;
    font-size: 1.35em;
    font-weight: 500;
}

.stork-index-map{
    position: absolute;
    width: 8%;
    bottom: 3%;
    left: 35%;

}