

:root{
    --red-color: #fb463a;
    --dark-grey: #393939;
    --light-green: #D6F1CA;
    --white-color: #ffffff;
    --white-background : #ffffffcf;
    --white-background-light : #ffffffb5;
    --dashboard-aside-background : #3f3c3cf5;
    --lg-border-radius: 16px;
    --sm-border-radius: 8px;
    --lg-width-container: 65%;
    --md-width-container: 85%;
    --sm-width-container: 95%;
    --transition-500: all 500ms ease;
    --transition-900: all 900ms ease;
}

html{
    background-color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
}


body{
    font-family: 'Poppins', sans-serif;
    /* margin: 0 auto; */
    width:100%;

}

img{
    /* max-width: 100%; */
    width:100%;
    /* height: 100%; */
    object-fit: cover;
}

a{
    text-decoration: none;
}


nav{
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    z-index: 10;
    padding: 0.3rem;
    top:0;
    transition: top 0.3s;
    transition-delay: 0.3s;
}

/* .fixed{
    position: fixed;
} */

.hidden-nav{
    top:-35px;
}

nav a{
    /* text-decoration: none; */
    color: black;
    font-size: 1.4rem;
    font-weight: 300;
    text-transform: uppercase;
}

nav span{
    color: #a90126;
}

.top{
    padding-top:3rem;
}
/* ---- apparition progressive -------- */

/* Initial state */
/* .main-picture-bcg, */
.main-picture-bcg .presentation h1,
/* .main-picture-bcg .presentation h1 span, */
.main-picture-bcg .presentation a,
.main-picture-bcg .presentation i,
.main-picture-bcg .flying-stork {
    opacity: 0;
    transition: opacity 0.9s ease-in-out, transform 0.9s ease-in-out;
}

/* Transitions */
.main-picture-bcg .presentation a {
    transform: translateY(-25%);
}

.main-picture-bcg .flying-stork{
    transform: translateX(-25%);
}


.main-picture-bcg.show .presentation h1 {
    opacity: 1;
    transition-duration: 2s;
    transition-delay: 1s;
}
.main-picture-bcg{
    opacity: 0;
    transition: 0.5s ease-in-out;
}
.main-picture-bcg.show{
    opacity: 1;
    /* transition-duration: 1.3s ; */
}

.main-picture-bcg .span-container-title span{
    position:relative;
    display: inline-block;
    overflow: hidden;
    opacity: 0;
    left:-50%;
    /* animation: reveal 2s forwards ease-in-out; */
    /* transition: opacity 2s ease-in-out, left 5s ease-in-out; */
    /* transition-delay: 3.5s; */
}
.main-picture-bcg.show .span-container-title span{
    animation: reveal 2.5s backwards ease-in-out;
    animation-delay: 1.5s;
    opacity: 1;
    left:0;
}

@keyframes reveal{
    0%{
        opacity:0;
        left:-50%;
    }
    100%{
        opacity:1;
        left:0;

    }
}

 
.main-picture-bcg.show .presentation i, 
.main-picture-bcg.show .presentation a {
    opacity: 1;
    transform: translateY(0);
    transition-duration: 0.8s;
    transition-delay: 4s; /* Delayed until after the h1 */
}

.main-picture-bcg.show .presentation i {
    animation: bounce 1.3s infinite;
}

.main-picture-bcg.show .presentation i{
    font-size: 2em;
}

@keyframes bounce{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
}



.main-picture-bcg.show .flying-stork {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.9s;
    transition-duration: 2.5s;
   

    /* transition-delay: 3s; */
}

/* ------------------------------------- */
.flying-stork{
    position: absolute;
    width:8%;
    top:25%;
    left:23%;
}

.main-picture-bcg{
    /* width:100vw; */
    height:100vh;
    background: linear-gradient(#00000000, #00000036), url(/img-source/bcg-presentation-vignes.webp);
    /* background : url('/img-source/bcg-presentation-vignes.webp'); */
    background-attachment: fixed;
    background-size: cover;
    background-position-y: 62%;
}



#presentation h1{
    font-size: 6.5em;
    line-height: 7rem;
    font-weight: 600;
    margin-top: 14%;
}

#presentation h1 span{
    color: var(--red-color);
    /* color: #a90126; */
}

.main-picture-bcg .presentation {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre horizontalement */
    justify-content: center; /* Centre verticalement */
    height: 100vh; /* S'assure que le conteneur prend toute la hauteur disponible */
    color:white;
    text-align: center;
}


/* .presentation, 
.discover{
    position: absolute;
    
} */

/* .presentation{
    position: absolute;
} */

/* .presentation{
    top: 54%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color:white;
    width:60%;
    height:41%;
    padding:2rem;
    border-radius: 5px;

} */




.home-btn{
    padding: 0.5rem 1rem;
    border-radius: var(--sm-border-radius);
    background-color: var(--red-color);
    color: var(--white-color);
    font-family: 'Poppins', sans-serif;
    border: none;
    font-size:1.6rem;
    margin-top: 3rem;
    margin-bottom: 8rem;
}

.home-btn:hover{
    cursor: pointer;
}

/* .discover{
    left:50%;
    transform: translate(-50%, 50%);
} */


#choice,
#how-it-works,
#join-community,
#share-experience{
    margin: 0 auto;
    width:66%;
    text-align: center;
}

#choice{
    height:90vh;
    padding: 1rem 3rem;
}

.bcg-choice{
    /* background:#d5bf86; */
    width:100%;
    padding-top:4rem;
    box-shadow: inset 0 1rem 1rem rgb(0 0 0 / 12%);
}


.arrow-icon{
    position: absolute;
    rotate: 31deg;
    transform: scaleY(-1);
    top: 9%;
    left: 50%;
    width: 7%;
}

/* ================================   HOW IT WORKS SECTION   ================================ */

.div-hidden{
    opacity:0;
    transition: all 0.9s ease-in-out;
}

.div-from-left{
    transform : translateX(-5%);
}

.div-from-right{
    transform: translateX(5%);
}


.div-visible{
    opacity: 1;
    transform: translateX(0);
}


.bcg-how-it-works{
    background : linear-gradient(#feffb96e, #8f998082, #feffb947), url(/img-source/bcg-how-it-works.webp);
    width:100%;
    padding: 2rem 0;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    box-shadow: inset 0 1rem 2rem rgb(0 0 0 / 20%);
}

#how-it-works h3{
   font-size: 1.6rem;
   font-weight: 500;
   margin-top:-4.5rem;
   color:white;
   
   
}



#how-it-works span{
    font-size:3rem;
    margin-right: 5rem;
}

.right-block{
    /* width: 64%; */
    position: relative;
    width:50%;
    /* background-color: #ffffffbd; */
    background-color: #ffffffd6;
    border-radius: 1rem;
    height: 65%;
    box-shadow: 0.5rem 0.5rem 1rem 0px rgb(0 0 0 / 7%);
    padding:1%;
}


#choice h2:first-of-type {
    font-size: 2.1rem;
    font-weight: 600;
}

#choice h2:first-of-type span{
    color: #fb463a;

}

#last-posts,
#last-itineraries{
    width: 70%;
    margin: 6rem auto;
    height:80vh;
}

#last-posts h2,
#last-itineraries h2{
    text-align: center;
    margin: 2rem 0 4rem;
    font-weight: 600;
    font-size: 1.9em;
}


#last-itineraries h3{
    font-weight: 500;
    margin-bottom: 0.6rem;
}

.itinerary-container{
   height:80%;
}

.itinerary-text-content h4 span{
    color: var(--red-color);
    /* font-weight: 700; */
}

#last-itineraries .itinerary-text-content{
    background: #ffffff;
    padding: 0.7rem 1rem;
    border-radius: var(--lg-border-radius);
    height:83%;
    margin-top:3%;
}

.itinerary-text-content h4{
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom:3%;
    
}

.profile-itinerary-detail-container{
    display: flex;
    height: 13%;
    width: 100%;
    padding: 0 0.2rem;
    position: relative;
    justify-content: space-between;
}

.itinerary-stork{
    position: absolute;
    right: 4%;
    top: -9%;
    width: 43%;
}

.user-profile-pic-itinerary{
    height:100%;
    overflow: hidden;
    border-radius: 50px;
}

.user-profile-pic-itinerary img{
    height: 100% !important;
}

.username-pic-itinerary{
    display: flex;
    background-color: var(--white-color);
    padding: 0.4rem 1.2rem;
    border-radius: 0.7rem;
    width: 48%;
    align-items: center;
    justify-content: space-between; 
}

.username-pic-itinerary{
    font-size:1.1em;
}

.itinerary-stork-div{
    background-color: var(--white-color);
    padding: 0.5rem 1rem;
    border-radius: 0.7rem;
    width: 48%;
}

#how-it-works{
    height:180vh;
    position: relative;
    margin:5rem auto;
    padding: 2rem 3rem 0;
    
}



#how-it-works .looking-down{
    position: absolute;
    /* top:6.9%; */
    top:-20.5%;
    /* left:26%; */
    width:12%;
    transform: scaleX(-1);
    filter: saturate(0.9);
}

.standing-stork-up{
    position: absolute;
    width: 13%;
    /* right: 0; */
    left:0;
    bottom: -2.6%;
    transform: scaleX(-1);
    filter: saturate(0.8);
}


#how-it-works > h2{
    text-align:center;
    font-size:2rem;
    margin: 1rem 0 8rem;
    color:white;
}

#how-it-works article{
    display:flex;
    /* position: relative; */
    /* justify-content: space-between; */
    height:55vh;
    /* gap:14rem; */
}

/* #how-it-works article:nth-of-type(2){
    justify-content: start;
} */

/* .side-illustration{
    width: 50%;
} */

.side-illustration-theme figure {
    position: absolute;
    bottom:10%;
    width:94%;
    /* width: 47%; */
    /* top: 2.1%; */
    /* left: -6%; */
}

.side-illustration-companion figure {
    position: absolute;
    /* width: 42%; */
    /* top: 4%; */
    /* right: 2%; */
    /* top: 33%;*/
    bottom:5%; 
    width:90%;
}

.side-illustration-itinerary,
.side-illustration-companion,
.side-illustration-theme{
    position: relative;
    width: 50%;
}

.side-illustration-itinerary figure{
    position:absolute;
    /* top:62%; */
    /* width:48%; */
    bottom:-5%;
}

/* .side-illustration .theme {
    width: 47%;
    top: 4%;
} */



/* ================================   JOIN COMMUNITY SECTION   ================================ */

#join-community {
    height:250vh;
    padding : 4rem 0;
    border-radius: var(--lg-border-radius);
}


#join-community  div {
    height:47%;
    position: relative;
}

#join-community h2{
    margin: 1rem 0 3rem;
    font-size: 2rem;
}




#join-community article{
    border-radius: 0.5rem;
    padding-top: 1rem;
    margin: 1rem;
    position: relative;
    width: 56%;
    height: 70%;
    left: -10%;
    top: 9%;
}

#blur-bcg{
    z-index: 2;
    width: 69%;
    background: #ffffff94;
    box-shadow: 0.2rem 0.2rem 10rem rgb(0 0 0 / 13%);
    backdrop-filter: blur(13px);
    border-radius: 1rem;
    padding:1% 2%;
    display: flex;
    flex-direction: column;
}

.top{
    top: -66%;
    right:-9%;
}

.middle{
    top:-123%;
    left:5%;
    align-items: end;
}

.bottom{
    bottom: 180%;
    left: 10%;
}


#join-community figure{
      /* height: 50%; */
      position: absolute;
      margin: 1rem auto 0;
      border-radius: 0.5rem;
}

.bcg-join-community{
    background : linear-gradient(#ffffff, #ffffff7a, #ffffff), url(/img-source/map-background.webp);
    background-position-y: 59%;
    box-shadow: inset 0 1rem 2rem rgb(0 0 0 / 27%);
    background-size: cover;
    background-attachment: fixed;
}

#reviews-phone{
    width: 100%;
    z-index: 3;
    left: -10%;
    top: -100%;
    /* position: absolute; */
    background: none;
    filter: drop-shadow(2px 2px 2px lightgrey);
}

#itinerary-phone{
    top: -23%;
    /* bottom: 162%; */
    left: 76%;
    width: 143%;
    z-index: 3;
}

#share-posts{
    top: -178%;
    z-index: 3;
    /* right: -22%; */
    width: 124%;
    left: 92%;  
}

.create-itineraries,
.publish-posts,
.reviews-users{
    /* text-align: left; */
    /* display: flex;
    flex-direction: column; */
    width:50%;
    text-align: justify;
}

.create-itineraries,
.publish-posts{
    
}

.reviews-users{
  justify-content: right;
}

/* .publish-posts{
    text-align: left;
} */

#join-community h3{
    margin-bottom: 1.2rem;
    display: flex;
    align-items: center;
}

#join-community .top h3,
#join-community .bottom h3{
    /* text-align: left; */
}

#join-community .middle h3{
    justify-content: end;
}
/* .front{
    z-index: 3;
} */
.bcg-share{
    background : url('/img-source/bcg-vignes-bottom.webp');
    width:100%;
    padding: 2rem 0;
    background-attachment: fixed;
    background-size: cover;
}

#join-community i {
    font-size:1.4em;
    color: #eb4a3f;
    /* color: #b38e69; */
    /* color: #f8d919; */
    /* color: #f81919; */

}


/* ---------- SHARE EXPERIENCE --------------- */
#share-experience{
    height:75vh;
    display:flex;
    position: relative;
    margin-top:5rem;
    margin-bottom: 3rem;
    background: var(--white-background-light);
    border-radius: var(--lg-border-radius);
    padding:2rem;
}

#share-experience article {
    width:60%;
    height:90%;
    padding-top:5rem;
    /* text-align: center; */
}


.share-message{
    position:relative;
    height:50%;
    margin-top:8rem;
}

.share-message h3:first-of-type,
.share-message h3:last-of-type{
    position:absolute;
    z-index:2;
    
}

.share-message h3:first-of-type{
    top:-2%;
    left:14%;
    font-weight: 600;
}


.share-message h3:last-of-type{
    top:42%;
    left:44%;
    font-weight: 500;
}

.share-message figure{
    position:absolute;
    
}


.share-message figure:first-of-type{
    top:-12%;
    left:8%;
    width:50%;    
}

.share-message figure:last-of-type{
    top:31%;
    left:39%;
    width:50%;
}

#share-experience aside{
    width:50%;
    position:relative;
}

#share-experience aside figure{
    position:relative;
    width:30%;
    height:30%;
    background:#ffffff99;
    border-radius: var(--lg-border-radius);
}

#share-experience aside figure:first-of-type{
    left: 58%;
    top: 13%;
    width:40%;
}

#share-experience aside figure:nth-of-type(2){
    left:17%;
    top:4%;
    height:40%;
    width:36%;
}

#share-experience aside figure:last-of-type{
    left: 58%;
    bottom: 14%;
    height: 35%; 
}


.standing-stork,
.straight-stork {
    position:absolute;
    filter: saturate(0.8);
    opacity: 0.9;
}

.standing-stork{
    width: 15%;
    right: 19.5%;
    bottom: 66%;
}



.straight-stork{
    width:6%;
    /* top:8%;*/
    bottom:75.5%; 
    left:8%;
}


.socials {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 6rem;
}

.socials i {
    font-size: 2rem;
}


/* ---- Rating ------------------ */

.rating-profile {
    width:50px;
    height:50px;
}

.rating-profile img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* -------------------------------- */

/*  Radio input HomePage */
.choice-theme-container{
    display: flex;
    justify-content: center;
    width:85%;
    margin: 2rem auto;
    gap: 0.5rem;
    padding:2rem;
    /* background-color: #efefef; */
    border-radius: var(--lg-border-radius);
}

.choice-companion-container {
    width:65%;
    margin:0 auto;
}
#choice .swiper{
    margin-top:1rem;
    width:80%;
    min-height:300px;
    padding:1rem !important;

}

#choice .swiper-slide{
    width:15%;
}
.radio-choice-container:first-child{
    margin-bottom: 6rem;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label > figure{
    width:100%;
}

  

input[type="radio"] + label > figure > img {
    cursor: pointer;
    /* filter: brightness(0.9); */
    transition: all 0.3s ease;
    width:100%;
    border-radius: 1.3rem;
}
 
input[type="radio"]:checked + label > figure > img {
    transform: translateY(-5%);
    /* filter: brightness(1.7); */
}

input[type="radio"]:hover + label > figure > img{
    transform: translateY(-5%)
}

.btn {
    padding: 0.5rem 1rem;
    font-family: 'Poppins';
    font-weight: 500;
    border: none;
    background: RGB(57, 57, 57);
    color: white;
    border-radius: 0.5rem;
    /* margin-top: 1rem; */
    font-size: 1.1rem;
}

.btn-login,
.btn-register{
    display:block;
    margin: auto;
    margin-top: 4%;
}



.bcg-profile {
    background: url(/img-source/bcg-profile-page.webp);
    background-size: cover;
    height: 100vh;
    background-position-y: bottom;
}

.travel-sign{
    position: absolute;
    bottom: 0%;
    width: 10%;
    left: 1%;
    filter: drop-shadow(-14px 10px 2px rgba(0, 0, 0, 0.3));
}

.travel-sign img{
    filter: brightness(1.1);
}

.travel-stork{
    position: absolute;
    top: 65.2%;
    right: 5.5%;
    width: 6%;
    /* filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));  */
}

.travel-stork img{
    filter: contrast(0.85);
}


#dashboard{
    padding-top: 7rem;
    display: flex;
    align-items: center;
    gap: 1%;
    width: 75vw;
    height: 96vh;
    margin: auto;
}

#dashboard aside{
    width: 16vw;
    height: 100%;
    background: #3f3c3cf5;
    border-radius: var(--lg-border-radius);
    padding: 1%;

}

#dashboard aside i {
    margin-right:1rem;
}

.dashboard-aside{
    height: 25%;
    margin-top: 12%;
    color: white;
    text-align: center;
}

.dashboard-aside figure{
    /* background: #ffffff9e; */
    height: 65%;
    width: 44%;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 5%;
}


#dashboard aside ul li a {
    text-decoration: none;
    width: 77%;
    display: block;
    padding: 1.6rem 0;
    color: white;
    border-bottom: 1px solid #ffffff40;
    margin:auto;

}

#dashboard aside ul li{
    transition: all 0.3s ease;
}

#dashboard aside ul li:hover,
.active {
    background-color:#80808080;
    border-radius: var(--lg-border-radius);
}

#dashboard aside ul li a:hover{
    border-bottom:transparent;
}

#dashboard aside ul li.active a{
    border-bottom: transparent;
}

/* .active {
    background-color: #80808080;
    border-radius: var(--lg-border-radius);
} */

#profile-container{
    width: 60vw;
    height: 100%;
    backdrop-filter: blur(31px);
    background: #a5a5a52e;
    /* #bbbbbb78 */
    border-radius: var(--lg-border-radius);
    color: black;
    padding: 1rem;
}

#profile-container h1{
    text-align: center;
    font-weight: 500;
    font-size: 1.6em;
    background-color: white;
}

#profile-container h1 span{
    color:var(--red-color);
    /* color: var(--white-color); */
    font-weight: 600;
}

#profile-container fieldset{
    /* width: 41%; */
    
    border-radius: var(--sm-border-radius);
    line-height: 3em;
    padding: 1rem;
    height: 21%;
}

.security-links{
    color: var(--red-color);
    border-color: var(--red-color);
}



.security-links a::after{
    content: '';
    display: block;
    width: 60%;
    margin-top: -12px;
    margin-left: 36px;
    height: 1px;
    background: var(--red-color);
    transform: scale(0);
    transform-origin: left;
    transition: 0.5s;

}

.security-links a:hover::after{
    transform: scale(1);
    transform-origin: left;
}

#profile-container fieldset p:first-of-type{
    margin-top: -1.5rem;
}

#profile-container .fieldset{
    background-color: white;
    width: 31%;
    padding: 0 1.5rem 1.5rem;
    margin-top: 1rem;
    border-radius: var(--sm-border-radius);

}

#profile-container legend{
    margin: 0 1rem;
    padding: 0 0.5rem;
    font-weight:500;
}

#profile-container fieldset a{
    color:black;
}
#profile-container i{
    color:var(--red-color);
    margin-right:1rem;

}

.rating-ul{
    width: 46%;
    color: black;
    background: #ffffffc4;
    border-radius: var(--sm-border-radius);
    padding: 1rem;
    margin-top: 1rem; 
}


/*  ====================== NEW PLACE MAP FORM  ++++++++++++++++++*/

#map-new{
    height:200px; 
    width:33vw;
    max-width: 635px;
}

.place-form{
    width: 40vw;
    min-width: 635px;
    margin: 0 auto;
    padding: 5rem 3rem 2rem;
    background: #ffffffa8;
}

.place-form h1{
    text-align: center;
}

.location-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:5rem;
}

.location-container label{
    display: block;
    margin : 0.2rem 0;
}

.location-container input {
    width:250px;
    padding:5px;
}


.location-container #place_openingHours{
    resize:none;
    width:250px;
    font-family: "Poppins", sans-serif;
    scrollbar-width: none;
    padding-left:0.2rem;
}

.location-container textarea{
    resize:none;
    width:250px;
    height:150px;
    scrollbar-width: none;
}

.choice-container {
    margin-top:1rem;
}

#place_themes, #place_companions{
    margin: 0.5rem 0 0.5rem;
}

.choice-container input[type="checkbox"]{
    margin-right:0.5rem;
    margin-left: 1rem;
}

.new-place-form{
    /* background : linear-gradient(#ffffff, #ffffff7a, #ffffff), url(/img-source/map-background.webp); */
    background: linear-gradient(#ffffffa8, #ffffffa8), url(/img-source/map-background.webp);
    background-position-y: 59%;
    box-shadow: inset 0 1rem 2rem rgb(0 0 0 / 27%);
    background-size: cover;
    background-attachment: fixed;
}

#commune-suggestions li{
    cursor: pointer;
    background-color: white;
}


.hidden{
    display:none;
}

.new-itinerary-form h1{
    padding-top:3%;
    position:fixed;
    left:34%;
}
#map-itinerary{
    height:70vh;
    width: 25vw;
    border-radius:1rem;
    position: fixed;
    top: 20%;
    right: 22%;
    
}


#itinerary-form input,
button.add_city_button,
button#custom_itinerary_valider
{
    border: none;
    background: #070a0214;
    padding: 3%;
    margin:1% 0 4%;
    border-radius: 0.5rem;
    width:100%;
}

.itinerary-form{
    padding:1%;
    width:20vw;
    position:absolute;
    top: 15%;

}

#itinerary-form{
    margin: 0 auto;
    width: 65%;
    height: 100vh;
}

.itinerary-form label,
.itinerary-form p{
    display:block;
    font-size:1.2em;
}

.itinerary-form p{
    text-align: center;
    margin-bottom:3%;
}

.itinerary-form ul{
    position: absolute;
    /* background-color: #e5cece; */
    width: 90%;
}

.itinerary-form ul li{
    background-color: #ebebeb;
    border-radius: 0.5rem;
    padding: 2%;
    cursor: pointer;
    box-shadow: 0.2rem 0.2rem 1rem rgb(0 0 0 / 24%);
    transition: all 0.3s ease;

}

.itinerary-form ul li:hover{
    background-color: #ffffff;
}

button.add_city_button{
    cursor:pointer;
    font-size:1em;
}


button#custom_itinerary_valider{
    font-size: 1.1em;
    cursor:pointer;
}

.add-intermediate {
    margin-top:8%;
}


/* -------------City detail------------------------------------------------------------------------ */
 .img-city-detail{
    width:270px;
    height:200px;
    position:relative;
    transition: all 0.4s ease;

} 

/*.img-city-detail img{
    width:100%;
} */

.scroll-container {
    /* overflow-x: auto; */
    overflow: hidden;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    width:71%;
  }
  
  .scroll-list {
    display: flex;
    flex-wrap: nowrap;
    /* justify-content: center; */
    padding: 0;
    margin: 0;
    list-style: none;
    transition: all 0.5s ease;
  }
  
  .scroll-item {
    scroll-snap-align: center;
    flex: 0 0 auto;
    /* width: 100%; */
    padding: 1rem 0.7rem;
    /* transition: all 0.5s ease; */
    /* box-sizing: border-box; */
  }
  
  /* .scroll-item h2 {
    margin: 0 0 0.5rem;
  } */
  
  .scroll-item img {
    width: 100%;
    height:100%;
    border-radius: var(--sm-border-radius);
    object-fit: cover;
    margin-bottom: 1rem;
    /* position: relative; */
  }

  /* .img-city-detail:hover{
    filter: brightness(0.6);
  } */

  .discover-city{
    color:white;
    position:absolute;
    border-radius: var(--sm-border-radius);
    transition: all 0.4s ease;
    opacity:0;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background :#00000082;
    /* backdrop-filter: blur(3px); */
  }

  .discover-city p{
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .img-city-detail:hover .discover-city{
    opacity:1;
  }
  

  .scroll-right,
  .scroll-left{
    font-size:3em;
    margin: auto 0;
    cursor:pointer;
    /* position: absolute; */
  }

#detail-city{
    width:80%;
    margin:auto;
    margin-top:2rem;
    display: flex;
}

#detail-city a {
    color: black;
}

#detail-city h1{
    font-size:2.5em;
    margin-bottom:2.5rem;
    margin-top:0.5rem;
    color:var(--red-color);
}

#detail-city h2 + p{
    color: #515151;
    margin-top:0.6rem;
}

#detail-city h2{
    font-weight: 500;
}

.type-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 0.5rem;
}

.detail-type{
    width:20%;
    padding-right:1.3rem;
}

.form-filters{
    width: 25%;
    min-height: 100vh;
    margin-right: 1rem;
    margin-top: 1.1rem;
    padding: 1rem;
    line-height: 3em;
    background-color: #a3a2a212;
    border-radius: var(--sm-border-radius);
}

.filter-title{
    margin-top: 2rem;
    font-weight:600;
}

#filters label,
#filters input{
    cursor: pointer;
}

#content{
    padding-left: 1rem;
    margin-top:1rem;
}

#detail-city i {
    transition: all 0.3s ease;
}

#detail-city i:hover{
    color: #777777;
}

#filters{
    position:fixed;
}

/* ------------ Itinerary Detail ---------------- */

#show-itinerary {
    width: 55%;
    margin: auto;
    height: 95vh;
}

#show-itinerary a{
    color:black;
}

#show-itinerary span{
    color:var(--red-color);
}

.aside-cities {
    line-height: 2.7em;
    margin-top: 3rem;
    font-size: 1.1em;
}


.itinerary-title{
    text-align: center;
    font-size: 1.5em;
    margin-top: 1.5rem;
}

.inter-cities{
    margin-left:3rem;
}

.bold{
    font-weight:500;
    margin-top:2rem;
    margin-bottom:-0.8rem;
    font-size:1.2em;
}

.title{
    font-size:1.1em;
    margin-top:2rem;
    margin-bottom:-0.8rem;
}

/* --------- Detail post by City & Place ---------- */

/* #detail-post figure{
    width:300px;
} */

.user-profile-pic-sm-circle{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50px;
}

.user-profile-pic-sm-circle img{
    height:100% !important;
}

.profile-post-detail-container{
    display: flex;
    gap: 10px;
}

#city-posts{
    width: 75%;
    margin: auto;
    margin-top:1.5rem
}

.posts-header{
    text-align:center;
}

.posts-header h2{
    font-weight: 500;
}

.posts-header h3{
    margin: 1rem auto 1.5rem;
    width: fit-content;
    background: #ffffffd9;
    font-weight: 400;
}


#city-posts h1{
    /* text-align: center; */
    font-size: 3em;
    color: var(--red-color);
}

.posts-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    height:45vh;
}


.img-content-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap:25px;
    height:70%;
}


.post-figure img{
    height:100%;
}

.post-figure img{
    border-radius: var(--lg-border-radius);

}

.post-place-name{
    width: fit-content; 
    font-size: 1.1em;
    margin-bottom:0.2rem;
}

.post-place-address{
    font-size:0.9em;

}

.post-content-text{
    height: 80%;
    margin-top:1.2rem;
    background: #ffffff;
    padding: 0.7rem 1rem;
    border-radius: var(--lg-border-radius);
    line-height:1.7em;
}

.post-content{
    height:100%;
}

.post-content h3{
    margin: 0.6rem 0 1.2rem;
    font-weight:500;
    background-color: var(--white-color);
    padding: 0.5rem;
    border-radius: var(--sm-border-radius);
    font-size: 1.1em;

}



.post-container{
    /* background: #efefef99; */
    background: #c5c5c554;
    backdrop-filter: blur(10px);
    height:100%;
    padding: 1rem;
    border-radius: var(--lg-border-radius);
}

.background-post{
    position:absolute;
    z-index:-1;
}

.show-post-comments{
    display: flex;
    justify-content: space-between;
    padding: 8px 8px 0; 
}

/* ============================LOGIN FORM================================= */

.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background : url('/img-source/bcg-presentation-vignes.webp');
    background-attachment: fixed;
    background-size: cover;
    background-position-y: 62%;
}

.login-form a {
    color: black;
}

.form-container{
    display: flex;
    flex-direction: column;
    background-color: var(--white-background);
    border-radius: var(--lg-border-radius);
    height:60%;
    /* width:35%; */
    width:30%;
    min-width:fit-content;
    padding:1%;
}

.form-container form{
    width:100%;
    margin: auto;
    padding:2%;
}

.form-container form label{
    display: block;
}

.form-container form input{
    border-color:transparent;
    outline: none;
    width:100%;
    padding: 2% 0;
    border-radius : 8px;
}

.form-titles{
    text-align: center;
}

.form-titles h1{
    font-size: 1.9em;
    font-weight: 600;
}

.form-titles h2{
    margin-top: 6%;
    font-size: 1em;
    font-weight: 400;
}

.form-titles span{
    font-weight: 600;
    font-size: 2em;
}

.form-container > div{
    width:80%;
    margin: 0 auto;
}

/* ---- Register Form ----- */

.agree-terms{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.agree-terms input[type="checkbox"]{
    width:fit-content;
    margin-right: 5px;
}

.agree-terms a{
    color: var(--red-color);
    font-weight: 600;
}

.register h1{
    text-align: center;
    font-size: 2.3em;
    color: var(--red-color);
}

.form-container.register input[type='file']{
    border-radius: var(--sm-border-radius);
    font-family: 'Poppins';
}

/* --------------------- SHOW PLACE --------------------- */

/* --------- swiper place pictures--------------------- */

.wrapper-container-place{
    width:45%;
}

.swiper-slide{
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:1rem;
    /* border-radius: var(--sm-border-radius); */

    /* margin-bottom:10%; */
}

.swiper-slide img{
    height:100%;
    border-radius: var(--sm-border-radius);
}

.swiper{
    width: 100%;
    /* height: 300px; */
    margin-left: auto;
    margin-right: auto;
    /* padding: 10px, imp !important; */
}

.mySwiper{
    height: 25%;
    /* box-sizing: border-box; */
    padding: 10px 0;
    /* border-radius: var(--sm-border-radius); */
}

.mySwiper2{
    height: 71%;
    width: 100%;
    margin-bottom:2%;
    /* border-radius: var(--sm-border-radius); */
}



.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
    /* border-radius: var(--sm-border-radius); */

  }



.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

/* ------ end swiper ------------- */

  .show-place{
    width: 65%;
    margin: 3% auto;
    display: flex;
    /* gap: 13%; */
    justify-content: space-between;
    max-height: 50vh;
  }

  .show-place-infos{
    width:50%;
    background: #a5a5a526;
    height: fit-content;
    padding: 2%;
    border-radius: var(--sm-border-radius);
  }

  .show-place-main{
    /* height:100vh; */
    position:relative;

    /* background: url(/img-source/fond-post.webp); */
  }

  .show-place-main h1{
    /* text-align: center; */
    margin-top: 5%;
    color:var(--red-color);
    font-size:2.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }

  .show-place-main h1 i {
    font-size:0.8em;
  }

  .flying-stork-place{
    position:absolute;
    width:6%;
    left:20%;
    top:-3%;
  }

.openinghrs{
    white-space: pre;
}

.description-place{
    text-align: justify;
}
/* ----------------------END SHOW PLACE---------------------- */

/* Breakpoint : Tablette */
/* @media (max-width: 1024px) and (min-width: 769px) {

    .posts-container{
        grid-template-columns: 1fr 1fr;
    } 
} */

/* Breakpoint : Smartphone */
/* @media (max-width: 768px) {
    
    .posts-container{
        grid-template-columns: 1fr;
    } 
} */

