*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    /* background:linear-gradient(254deg, #305d5d, #f7ecd4);
     */
     background: url(/img-source/bcg-alsace1.webp);
     background-attachment: fixed;
     background-position: center;
     background-size: cover;
     backdrop-filter: blur(28px);
}

/* linear bcg color :
- beige/ gris-vert : #3e5151, #decba4  */

nav{
    position:absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.681);
    width:100%;
    backdrop-filter: blur(18px);
    padding: 0.3rem;
    box-shadow: 0rem 0.5rem 14px 0px rgb(73 73 73 / 44%);
}

nav a{
    text-decoration: none;
    color: white;
}

main{
  padding-top:3rem;  
  /* max-width:1024px; */
  margin: 0 auto;
}


#video-presentation{
    height:100vh;
    width:100vw;
    object-fit: cover;
    position: relative;
}

#presentation div{
    position: absolute;
    top: 9%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color:white;
    min-width:fit-content;
    max-width:620px;
    background-color:#0000006b;
    padding:2rem;
    border-radius: 5px;
}

#choice,
#how-it-works{
    width:60%;
    margin: 0 auto;
    text-align: center;
}

#choice{
    height:100vh;
}

#how-it-works h3{
    text-align: left;
}

#how-it-works span{
    font-size:3rem;
    margin-right: 5rem;
}

#choice h2:first-of-type {
    font-size: 2rem;
}

#home_themes_1 input{
    width:2rem;
    height:2rem;
}

#how-it-works{
    height:150vh;
    position: relative;
    margin-top:6rem;
}

#how-it-works .looking-down{
    position: absolute;
    left:38%;
    width:8%;
    top:7.3%;
    filter: saturate(0.8);
}

.looking-down img{
    width:100%;
}

#how-it-works > h2{
    text-align:center;
    font-size:2rem;
    margin: 1rem 0 8rem;
}

#how-it-works article{
    display:flex;
    justify-content: space-between;
    height:35vh;
    margin-top: 4rem;
}

.side-illustration{
    width: 50%;
}

.side-illustration figure {
    width:90%;
    height:100%;
    background: #ffffffa1;
    border-radius: 1rem;
}

/* #how-it-works figure{
    width:50%;
} */

#join-community {
    height:55vh;
    text-align: center;
    width:66%;
    margin: 0 auto;
    /* background: url('/img-source/alsace-bcg1.jpg'); */
    background-size: cover;
    border-radius: 1rem;
    /* padding: 1.5rem; */
}


#join-community  div {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    height:70%;
}

#join-community h2{
    margin: 1rem 0 3rem;
    font-size: 2rem;
}

#join-community h3{
    margin-bottom:1.2rem;
}

#join-community article{
    background: #ffffff99;
    backdrop-filter: blur(17px);
    border-radius: 0.5rem;
    padding-top: 1rem;
    margin: 1rem;
}

#join-community figure{
    width: 80%;
    height: 50%;
    background: #5757573d;
    margin: 1rem auto 0;
    border-radius: 0.5rem;
}

#share-experience{
    height:75vh;
    display:flex;
    margin: 0 auto;
    width:60%;
    position: relative;
}

#share-experience article {
    width:50%;
    height:90%;
    text-align: center;
}


.share-message{
    position:relative;
    height:50%;
    margin-top:8rem;
}

.share-message h3:first-of-type{
    position:absolute;
    z-index:2;
    top:-2%;
}


.share-message h3:last-of-type{
    position: absolute;
    top:44%;
    left:31%;
    z-index:2;
}

.share-message figure{
    position:absolute;
    opacity:0.8;
}

.share-message figure img{
    width:100%;
}

.share-message figure:first-of-type{
    top:-12%;
    left:-5%;
    width:60%;
}
.share-message figure:last-of-type{
    top:31%;
    left:26%;
    width:66%;
}

#share-experience aside{
    width:50%;
    position:relative;
}

#share-experience aside figure{
    position:relative;
    width:30%;
    height:30%;
    background:#ffffff99;
    border-radius: 1rem;
}

#share-experience aside figure:first-of-type{
    left: 58%;
    top: 13%;
    width:40%;
}

#share-experience aside figure:last-of-type{
    left: 58%;
    bottom: 14%;
    height: 35%; 
}

#share-experience aside figure:nth-of-type(2){
    left:17%;
    top:4%;
    height:40%;
    width:36%;
}

#share-experience .standing-stork {
    width: 15%;
    right: 20%;
    bottom: 64.5%;
    filter: saturate(0.8);
}

.straight-stork{
    position:absolute;
    width:7%;
    top:4%;
    left:20%;
    filter: saturate(0.8);
}

.straight-stork img{
    width:100%;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 4rem;
}

.socials i {
    font-size: 2rem;
}


/* ---- Rating ------------------ */

.rating-profile {
    width:50px;
    height:50px;
}

.rating-profile img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* -------------------------------- */

/*  Radio input HomePage */
.radio-choice-container{
    display: flex;
    justify-content: center;
    width:80%;
    margin: 2rem auto 2.5rem;
    gap: 0.5rem;
}

.companion-choice {
    width:65%;
    margin:0 auto;
    background-color: #ffffff99;
    padding: 1rem 0;
    border-radius: 1rem;
}
.swiper{
    margin-top:1rem;
    width:80%;
    min-height:300px;
    padding:1rem !important;

}

.swiper-slide{
    width:15%;
}
.radio-choice-container:first-child{
    margin-bottom: 6rem;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label > figure{
    width:100%;
}
/* input[type="radio"] + label {
    display: block;
    /* width:15%; 
} */
  

input[type="radio"] + label > figure > img {
cursor: pointer;
filter: brightness(0.9);
transition: all 0.3s ease;
width:100%;
border-radius: 1.3rem;
}
 
input[type="radio"]:checked + label > figure > img {
transform: translateY(-5%);
filter: brightness(1.7);
}

.btn {
    padding: 0.5rem 1rem;
    font-family: 'Poppins';
    font-weight: 500;
    border: none;
    background: RGB(57, 57, 57);
    color: white;
    border-radius: 0.5rem;
    margin-top: 1rem;
    font-size: 1.1rem;
}

