

:root{
    --red-color: #fb463a;
    --light-red: #ff6a60;
    --dark-grey: #393939;
    --light-green: #D6F1CA;
    --dark-green: #89cd69;
    --light-purple: #847ad0;
    --white-color: #ffffff;
    --white-background : #ffffffcf;
    --white-background-light : #ffffffb5;
    --dashboard-aside-background : #3f3c3cf5;
    --lg-border-radius: 16px;
    --sm-border-radius: 8px;
    --lg-width-container: 65%;
    --md-width-container: 85%;
    --sm-width-container: 95%;
    --transition-500: all 500ms ease;
    --transition-900: all 900ms ease;
}

html{
    background-color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
}


body{
    font-family: 'Poppins', sans-serif;
    /* margin: 0 auto; */
    width:100%;

}

img{
    /* max-width: 100%; */
    width:100%;
    /* height: 100%; */
    object-fit: cover;
}

a{
    text-decoration: none;
}


nav{
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    z-index: 10;
    padding: 0.3rem;
    top:0;
    backdrop-filter: blur(15rem);
    background-color: #faf7e838;
    transition: top 0.3s;
    transition-delay: 0.3s;
}

/* .fixed{
    position: fixed;
} */

.hidden-nav{
    top:-35px;
}

nav a{
    /* text-decoration: none; */
    color: black;
    font-size: 1.4rem;
    font-weight: 400;
    /* text-transform: uppercase; */
}

nav span{
    /* color: #a90126; */
    color: #c24e46;
}

.top{
    padding-top:3rem;
}

#arrow-to-top{
    position: fixed;
    bottom: 1%;
    right: 3%;
    font-size: 3em;
    color: var(--light-red);
    transition: all 0.3s ease;
}

.hidden-arrow{
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* ---- apparition progressive -------- */

/* Initial state */
/* .main-picture-bcg, */
.main-picture-bcg .presentation h1,
/* .main-picture-bcg .presentation h1 span, */
.main-picture-bcg .presentation a,
.main-picture-bcg .presentation i,
.main-picture-bcg .flying-stork {
    opacity: 0;
    transition: opacity 0.9s ease-in-out, transform 0.9s ease-in-out;
}

/* Transitions */
.main-picture-bcg .presentation a {
    transform: translateY(-25%);
}

.main-picture-bcg .flying-stork{
    transform: translateX(-25%);
}


.main-picture-bcg.show .presentation h1 {
    opacity: 1;
    transition-duration: 2s;
    transition-delay: 1s;
}
.main-picture-bcg{
    opacity: 0;
    transition: 0.5s ease-in-out;
}
.main-picture-bcg.show{
    opacity: 1;
    /* transition-duration: 1.3s ; */
}

.main-picture-bcg .span-container-title span{
    position:relative;
    display: inline-block;
    overflow: hidden;
    opacity: 0;
    left:-50%;
    /* animation: reveal 2s forwards ease-in-out; */
    /* transition: opacity 2s ease-in-out, left 5s ease-in-out; */
    /* transition-delay: 3.5s; */
}
.main-picture-bcg.show .span-container-title span{
    animation: reveal 2.5s backwards ease-in-out;
    animation-delay: 1.5s;
    opacity: 1;
    left:0;
}

@keyframes reveal{
    0%{
        opacity:0;
        left:-50%;
    }
    100%{
        opacity:1;
        left:0;

    }
}

 
.main-picture-bcg.show .presentation i, 
.main-picture-bcg.show .presentation a {
    opacity: 1;
    transform: translateY(0);
    transition-duration: 0.8s;
    transition-delay: 4s; /* Delayed until after the h1 */
}

.main-picture-bcg.show .presentation i {
    animation: bounce 1.3s infinite;
}

.main-picture-bcg.show .presentation i{
    font-size: 2em;
}

@keyframes bounce{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
}



.main-picture-bcg.show .flying-stork {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.9s;
    transition-duration: 2.5s;
   

    /* transition-delay: 3s; */
}

/* ------------------------------------- */
.flying-stork{
    position: absolute;
    width:8%;
    top:25%;
    left:23%;
}

.main-picture-bcg{
    /* width:100vw; */
    height:100vh;
    background: linear-gradient(#00000000, #00000036), url(/img-source/bcg-presentation-vignes.webp);
    /* background : url('/img-source/bcg-presentation-vignes.webp'); */
    background-attachment: fixed;
    background-size: cover;
    background-position-y: 62%;
}



#presentation h1{
    font-size: 6.5em;
    line-height: 7rem;
    font-weight: 600;
    margin-top: 14%;
}

#presentation h1 span{
    color: var(--red-color);
    /* color: #a90126; */
}

.main-picture-bcg .presentation {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre horizontalement */
    justify-content: center; /* Centre verticalement */
    height: 100vh; /* S'assure que le conteneur prend toute la hauteur disponible */
    color:white;
    text-align: center;
}


/* .presentation, 
.discover{
    position: absolute;
    
} */

/* .presentation{
    position: absolute;
} */

/* .presentation{
    top: 54%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color:white;
    width:60%;
    height:41%;
    padding:2rem;
    border-radius: 5px;

} */



.go-btn,
.home-btn{
    /* padding: 0.6rem 1rem;
    border-radius: var(--lg-border-radius); */
    background-color: var(--red-color);
    color: var(--white-color);
    font-family: 'Poppins', sans-serif;
    border: none;
    font-size:1.6rem;
    transition: var(--transition-500);
}

.go-btn{
    padding: 0.6rem 2rem;
    border-radius: var(--lg-border-radius);
}

.go-btn:hover,
.home-btn:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.home-btn{
    margin-top:3rem;
    margin-bottom:4rem;
    padding: 0.5rem 1rem;
    border-radius: var(--sm-border-radius);
}

/* .home-btn:hover{
    cursor: pointer;
} */



/* .discover{
    left:50%;
    transform: translate(-50%, 50%);
} */


#choice,
#join-community,
#share-experience{
    margin: 0 auto;
    width:66%;
    text-align: center;
}

#choice{
    height:95vh;
    padding: 1.5rem 3rem 2rem;
    /* background-color: #e4e4e461; */
    /* margin-bottom:3rem; */
    /* border-radius:var(--lg-border-radius); */
}

.bcg-choice{
    /* background:#d5bf86; */
    width:100%;
    padding-top:4rem;
    background-color: #e4e4e461;
    box-shadow: inset 0 1rem 1rem rgb(0 0 0 / 12%);
}


.arrow-icon{
    position: absolute;
    rotate: 31deg;
    transform: scaleY(-1);
    top: 9%;
    left: 50%;
    width: 7%;
}

/* ================================   HOW IT WORKS SECTION   ================================ */

.div-hidden{
    opacity:0;
    transition: all 0.9s ease-in-out;
}

.div-from-left{
    transform : translateX(-5%);
}

.div-from-right{
    transform: translateX(5%);
}


.div-visible{
    opacity: 1;
    transform: translateX(0);
}


.bcg-how-it-works{
    /* background : linear-gradient(#feffb96e, #8f998082, #feffb947), url(/img-source/bcg-how-it-works.webp); */
    width:100%;
    /* background: linear-gradient(#aeaf927a, #aeaf9296, #aeaf927a), url(/img-source/bcg-how-it-works.webp); */
    background: linear-gradient(#ffffff42, #ffffff42, #ffffff42), url(/img-source/bcg-how-it-works.webp);
    padding: 3rem 0 5rem;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    box-shadow: inset 0 1rem 2rem rgb(0 0 0 / 20%);
}

#how-it-works h3{
   font-size: 1.5em;
   font-weight: 600;
   /* margin-top:-5rem; */
   /* color:white; */
   display: flex;
   align-items: center;
   justify-content: left;
   text-align: left;
   gap:2rem;
   height:20%;
   background-color: #ffffffc2;
   padding:1rem ;
   border-radius: var(--sm-border-radius);
   
   
}



.number{
    font-size:3rem;
    color:var(--red-color);
    /* margin-right: 2rem; */
}

.right-block{
    /* width: 64%;  */
    position: relative;
    width: 50%;
    /* background-color: #ffffffbd; */
    /* background-color: #ffffffd6; */
    /* background-color: #ffffffa3; */
    border-radius: 1rem;
    height: 75%;
    /* box-shadow: 0.5rem 0.5rem 1rem 0px rgb(0 0 0 / 7%); */
    /* padding: 1.5rem 1rem 2rem; */
}

.right-block-paragraphs{
    display: flex;
    flex-direction: column;
    height: 75%;
    width: 100%;
    margin-top: 1.2rem;
    background-color: #ffffffc2;
    /* align-items: start; */
    justify-content: center;
    padding: 0.5rem;
    /* margin: auto; */
    /* padding: 0.5rem 2rem 1rem 0.5rem; */
    /* background-color: white; */
    border-radius: var(--sm-border-radius);
}

 
.p-home{
    font-size: 1.2em;
    margin: 0 auto;
    text-align: left;
    display: flex;
    gap: 10px;
    /* width: 80%; */
    /* background-color: #ffffffc2; */
    padding: 1rem 1.5rem 1rem 0.5rem;
    border-radius: 0.5rem;
    line-height:1.9em;

}

 .border-home{
    border-bottom: 1px solid #6a6a6a70;
    width: 40%;
    margin: auto;
} 



.choice-theme-title{
    font-size: 2.1rem;
    font-weight: 600;
}

.choice-companion-container span,
.choice-theme-title span{
    color: #fb463a;
}



.bcg-last-posts,
.bcg-last-itineraries{
    /* width:100vw; */
    height:80vh;
    background-color: #e4e4e461;
    /* padding:2rem 0 ; */

}

.bcg-last-itineraries{
    padding-top:5rem;
}
.bcg-last-posts{
    padding-bottom :2rem;
}

/* .bcg-last-posts{
    width:100vw;
    height:75vh;
    background-color: var(--dark-grey);
    padding:1rem 0 ;
} */


#last-itineraries{
    padding: 3rem 0;
    background: linear-gradient(#ffffff2e, #ffffff2e), url(/img-source/bcg-how-it-works.webp);
    border-radius: var(--sm-border-radius);
    height: 70%;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: bottom;
    position: relative;
}

.see-all a{
    position: absolute;
    right: 2%;
    bottom:1%;
    color: white;
}

#last-posts{
    height:100%;
}

#last-itineraries,
#last-posts{
    margin: 0 auto;

}

#last-posts h2{
    text-align: center;
    margin-bottom:4rem;
    font-weight: 600;
    font-size: 1.9em;
  
}

.bcg-last-itineraries h2{
    text-align: center;
    margin-bottom:3.5rem;
    font-weight: 600;
    font-size: 1.9em;
    color: var(--dark-grey);
    
}

#last-posts h2 i,
.bcg-last-itineraries h2 i{
    color:var(--light-red);
}



#last-itineraries h3{
    font-weight: 500;
    margin-bottom: 0.6rem;
}


.itinerary-text-content h4 span{
    color: var(--red-color);
    /* font-weight: 700; */
}

#last-itineraries .itinerary-text-content{
    background: #ffffff;
    padding: 0.7rem 1rem;
    border-radius: var(--sm-border-radius);
    height:83%;
    margin-top:3%;
}

.itinerary-text-content h4{
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom:3%;
    
}

.profile-itinerary-detail-container{
    display: flex;
    height: 13%;
    width: 100%;
    position: relative;
    justify-content: space-between;
}

.itinerary-stork{
    position: absolute;
    right: 4%;
    top: 0;
   
}

.user-profile-pic-itinerary{
    height:100%;
    overflow: hidden;
    border-radius: 50px;
}

.user-profile-pic-itinerary img{
    height: 100% !important;
}

.username-pic-itinerary{
    display: flex;
    background-color: var(--white-color);
    padding: 0.4rem 1rem;
    border-radius: var(--sm-border-radius);
    width: 74%;
    gap:14px;
    align-items: center;
    font-size:1.1em;
}


.itinerary-stork-div{
    background-color: var(--white-color);
    padding: 0.8rem 1.4rem;
    border-radius: var(--sm-border-radius);
    width: 23%;
    position:relative;
}

#how-it-works{
    width:70%;
    height:185vh;
    position: relative;
    margin: 0 auto;
    text-align: center;
    padding: 1rem 6rem 
    ;
    background: #ffffff4f;
    backdrop-filter: blur(14px);
    border-radius: 1rem;
    
}



#how-it-works .looking-down{
    position: absolute;
    top:-17.5%;
    width:12%;
    transform: scaleX(-1);
    filter: saturate(0.9);
}

.standing-stork-up{
    position: absolute;
    width: 13%;
    left:7%;
    top:-18.2%;
    transform: scaleX(-1);
    filter: saturate(0.8);
}


#how-it-works > h2{
    text-align:center;
    font-size:2.5em;
    font-weight:600;
    margin: 1rem 0 8rem;
    color:white;
}

#how-it-works article{
    display:flex;
    height:55vh;

}



.side-illustration-theme figure {
    position: absolute;
    bottom:10%;
    width:94%;

}

.side-illustration-companion figure {
    position: absolute;
 
    bottom:0%; 
    width:85%;
}

.side-illustration-itinerary,
.side-illustration-companion,
.side-illustration-theme{
    position: relative;
    width: 50%;
}

.side-illustration-itinerary figure{
    position:absolute;
    bottom:0%;
    width: 90%;
}

/* .side-illustration .theme {
    width: 47%;
    top: 4%;
} */



/* ================================   JOIN COMMUNITY SECTION   ================================ */

#join-community {
    height:200vh;
    padding : 4rem 0;
    border-radius: var(--lg-border-radius);
}


/* #join-community  div {
    height:47%;
    position: relative;
} */

#join-community h2{
    margin: 1rem 0 3rem;
    font-size: 2rem;
}

#join-community h2 span{
    color: var(--red-color);
}


#join-community article{
    border-radius: 0.5rem;
    padding-top: 1rem;
    margin: 1rem;
    position: relative;
    width: 56%;
    /* height: 70%; */
    /* left: -10%; */
    /* top: 9%; */
}

#blur-bcg{
    height:47vh;
    position: relative;
    z-index: 2;
    width: 40%;
    background: #ffffff94;
    box-shadow: 0.2rem 0.2rem 10rem rgb(0 0 0 / 13%);
    backdrop-filter: blur(13px);
    border-radius: 1rem;
    padding:2%;
    display: flex;
    flex-direction: column;
    margin-bottom:4rem;
}

.top{
    top: -66%;
    right:0%;
}

.middle{
    top:-123%;
    left:60%;
    align-items: end;
}

.bottom{
    bottom: 180%;
    left: 0%;
}


#join-community figure{
      /* height: 50%; */
      position: absolute;
      /* margin: 1rem auto 0; */
      /* border-radius: 0.5rem; */
}

.bcg-join-community{
    background : linear-gradient(#ffffff, #ffffffbd, #ffffff), url(/img-source/bcg-test0.webp);
    background-position-y: 59%;
    box-shadow: inset 0 1rem 2rem rgb(0 0 0 / 27%);
    background-size: cover;
    background-attachment: fixed;

    /* background: linear-gradient(#fdffcae3, #fdffca63, #fdffcae3), url(/img-source/bcg-test0.webp);
    background-position-y: 54%;
    box-shadow: inset 0 1rem 2rem rgb(0 0 0 / 27%);
    background-size: cover;
    background-attachment: fixed; */
}

#reviews-phone{
    width: 93%;
    z-index: 3;
    left: -7%;
    top: -100%;
    /* position: absolute; */
    background: none;
    filter: drop-shadow(2px 2px 2px lightgrey);
}

#itinerary-phone{
    top: -86%;
    /* bottom: 162%; */
    left: 64%;
    width: 124%;
    z-index: 3;
}

#share-posts{
    top: -175%;
    z-index: 3;
    /* right: -22%; */
    width: 117%;
    left: 72%;  
}

.create-itineraries p,
.publish-posts p,
.reviews-users p{
    /* text-align: left; */
    /* display: flex;
    flex-direction: column; */
    /* width:50%; */
    text-align: left;
    font-size: 1.1em;
    line-height: 1.7em;
    padding: 0 1rem;
}

.create-itineraries,
.publish-posts{
    
}

.reviews-users{
  justify-content: right;
}

/* .publish-posts{
    text-align: left;
} */

#join-community h3{
    margin-bottom: 1.8rem;
    display: flex;
    align-items: center;
    gap:10px;
    font-size:1.35em;
}

#join-community .top h3,
#join-community .bottom h3{
    /* text-align: left; */
}

#join-community .middle h3{
    /* justify-content: end; */
    width:100%;
}
/* .front{
    z-index: 3;
} */
.bcg-share{
    background : url('/img-source/bcg-vignes-bottom.webp');
    width:100%;
    padding: 2rem 0;
    background-attachment: fixed;
    background-size: cover;
}

#join-community i {
    font-size:1.4em;
    color: var(--light-red);
}


/* ---------- SHARE EXPERIENCE --------------- */
#share-experience{
    height:68vh;
    display:flex;
    position: relative;
    margin-top:5rem;
    margin-bottom: 3rem;
    backdrop-filter: blur(10px);
    /* background: var(--white-background-light); */
    background: #ffffffc4;
    border-radius: var(--lg-border-radius);
    padding:2rem 3rem 2.5rem;
}

#share-experience article {
    width:60%;
    height:90%;
    /* padding-top:5rem; */
    /* text-align: center; */
}


.share-message{
    position:relative;
    height:90%;
    margin-top:4rem;
}

/* .speech-stork-container{
    position: relative;
} */

.share-message p{
    position:absolute;
    z-index:2;
    /* width: 57%; */
    
    
}

.share-message p:first-of-type{
    line-height:1.9em;
    top: 6%;
    left: 9%;
    width: 57%;
    /* font-weight: 600; */
    /* width: 50%; */
}


.share-message p:nth-of-type(2){
    line-height:1.8em;
    top:37%;
    left:39%;
    width: 54%;
    /* font-weight: 500; */
}

.share-message p:last-of-type{
    top:67%;
    width: 55%;
    left:11%;
    /* top:42%;
    left:41%;
    font-weight: 500; */
}

.share-message figure{
    position:absolute;
    
}


.share-message figure:first-of-type{
    top:2.1%;
    left:8%;
    width:60%;    
}

.share-message figure:nth-last-of-type(2){
    top:33%;
    left:37%;
    width:58%;
}

.share-message figure:last-of-type{
    top: 64%;
    left: 9%;
    width:60%;
}

#share-experience aside{
    width:50%;
    position:relative;
}

#share-experience aside figure{
    position:relative;
    width:30%;
    height:30%;
    /* background:#ffffff99; */
    border-radius: var(--lg-border-radius);
}

#share-experience aside figure:first-of-type{
    left: 54%;
    top: 7%;
    width:41%;
}

#share-experience aside figure:nth-of-type(2){
    left:9%;
    top:4%;
    height:40%;
    width:40%;
}

#share-experience aside figure:last-of-type{
    left: 49%;
    bottom: 12%;
    width:47%;
    /* height: 35%;  */
}

#share-experience .text-socials{
    width: 85%;
    margin: auto;
    text-align: left;
    margin-top: -3rem; 
}

.text-socials p{
    margin-bottom: 0.5rem;
    line-height: 1.5em;
}

.standing-stork,
.straight-stork {
    position:absolute;
    filter: saturate(0.8);
    opacity: 0.9;
}

.standing-stork{
    width: 14.3%;
    right: 19.5%;
    top:14.8%;
}



.straight-stork{
    width:6%;
    top:5.5%;
    bottom:75.5%; 
    left:8%;
}


.socials {
    display: flex;
    justify-content: center;
    gap: 3rem;
    position: relative;
    /* margin-top: 9rem; */
}

.socials i {
    font-size: 2.2em;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.socials i:hover{
    color:var(--red-color);
    /* font-size: 2.3em; */
}

.curly-arrow-share{
    position:absolute;
    right:13%;
    bottom:75%;
    rotate: 16deg;
}

.hopla-share{
    position: absolute;
    right: 28%;
    top: 11%;
    /* left: 5%; */
    width: 17%;
    rotate: -16deg;
    /* visibility: visible; */
}


/* ---- Rating ------------------ */

.rating-profile {
    width:50px;
    height:50px;
}

.rating-profile img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* -------------------------------- */

/*  Radio input HomePage */
.choice-theme-container{
    display: flex;
    justify-content: center;
    width:85%;
    margin: auto;
    gap: 0.5rem;
    padding:2rem 1rem 0.5rem;
    /* background-color: #efefef; */
    border-radius: var(--lg-border-radius);
}

.choice-companion-container {
    width:80%;
    margin: 1rem auto 2rem;
    /* background-color: #f7f7f7; */
    background-color: #ffffff;
    border-radius: var(--lg-border-radius);
    padding:1rem 1rem 2rem;
}

.choice-companion-container h2{
    font-size:1.9em;
    font-weight:600;
}




#choice .swiper{
    /* margin-top:1rem; */
    width:80%;
    max-height: 170px;
    /* min-height:300px; */
    padding:1rem !important;

}

#choice .swiper-wrapper{
    gap:10px;
}

#choice .swiper-slide{
    width:15%;
}
.radio-choice-container:first-child{
    margin-bottom: 6rem;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label > figure{
    width:100%;
}

  

input[type="radio"] + label > figure > img {
    cursor: pointer;
    /* filter: brightness(0.9); */
    transition: all 0.3s ease;
    width:100%;
    border-radius: 1.3rem;
}
 
input[type="radio"]:checked + label > figure > img {
    transform: translateY(-5%);
    /* filter: brightness(1.7); */
}

input[type="radio"]:hover + label > figure > img{
    transform: translateY(-5%)
}

.btn {
    padding: 0.5rem 1rem;
    font-family: 'Poppins';
    font-weight: 500;
    border: none;
    background: RGB(57, 57, 57);
    color: white;
    border-radius: 0.5rem;
    /* margin-top: 1rem; */
    font-size: 1.1rem;
}

.btn-login,
.btn-register{
    display:block;
    margin: auto;
    margin-top: 4%;
}



.bcg-profile {
    background: url(/img-source/bcg-profile-page.webp);
    background-size: cover;
    height: 100vh;
    background-position-y: bottom;
}

.travel-sign{
    position: absolute;
    bottom: 0%;
    width: 10%;
    left: 1%;
    filter: drop-shadow(-14px 10px 2px rgba(0, 0, 0, 0.3));
}

.travel-sign img{
    filter: brightness(1.1);
}

.travel-stork{
    position: absolute;
    top: 65.2%;
    right: 5.5%;
    width: 6%;
    /* filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));  */
}

.travel-stork img{
    filter: contrast(0.85);
}


#dashboard{
    padding-top: 7rem;
    display: flex;
    align-items: center;
    gap: 1%;
    width: 75vw;
    height: 96vh;
    margin: auto;
}

#dashboard aside{
    width: 16vw;
    height: 100%;
    background: #3f3c3cf5;
    border-radius: var(--lg-border-radius);
    padding: 1%;

}

#dashboard aside i {
    margin-right:1rem;
}

.dashboard-aside{
    height: 25%;
    margin-top: 12%;
    color: white;
    text-align: center;
}

.dashboard-aside figure{
    /* background: #ffffff9e; */
    height: 65%;
    width: 44%;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 5%;
}


#dashboard aside ul li a {
    text-decoration: none;
    width: 77%;
    display: block;
    padding: 1.6rem 0;
    color: white;
    border-bottom: 1px solid #ffffff40;
    margin:auto;

}

#dashboard aside ul li{
    transition: all 0.3s ease;
}

#dashboard aside ul li:hover,
.active {
    background-color:#80808080;
    border-radius: var(--lg-border-radius);
}

#dashboard aside ul li a:hover{
    border-bottom:transparent;
}

#dashboard aside ul li.active a{
    border-bottom: transparent;
}

/* .active {
    background-color: #80808080;
    border-radius: var(--lg-border-radius);
} */

#profile-container{
    width: 60vw;
    height: 100%;
    backdrop-filter: blur(31px);
    background: #a5a5a52e;
    /* #bbbbbb78 */
    border-radius: var(--lg-border-radius);
    color: black;
    padding: 1rem;
}

#profile-container h1{
    text-align: center;
    font-weight: 500;
    font-size: 1.6em;
    background-color: white;
}

#profile-container h1 span{
    color:var(--red-color);
    /* color: var(--white-color); */
    font-weight: 600;
}

#profile-container fieldset{
    /* width: 41%; */
    
    border-radius: var(--sm-border-radius);
    line-height: 3em;
    padding: 1rem;
    height: 21%;
}

.security-links{
    color: var(--red-color);
    border-color: var(--red-color);
}



.security-links a::after{
    content: '';
    display: block;
    width: 60%;
    margin-top: -12px;
    margin-left: 36px;
    height: 1px;
    background: var(--red-color);
    transform: scale(0);
    transform-origin: left;
    transition: 0.5s;

}

.security-links a:hover::after{
    transform: scale(1);
    transform-origin: left;
}

#profile-container fieldset p:first-of-type{
    margin-top: -1.5rem;
}

#profile-container .fieldset{
    background-color: white;
    width: 31%;
    padding: 0 1.5rem 1.5rem;
    margin-top: 1rem;
    border-radius: var(--sm-border-radius);

}

#profile-container legend{
    margin: 0 1rem;
    padding: 0 0.5rem;
    font-weight:500;
}

#profile-container fieldset a{
    color:black;
}
#profile-container i{
    color:var(--red-color);
    margin-right:1rem;

}

.rating-ul{
    width: 46%;
    color: black;
    background: #ffffffc4;
    border-radius: var(--sm-border-radius);
    padding: 1rem;
    margin-top: 1rem; 
}


/*  ====================== NEW PLACE MAP FORM  ++++++++++++++++++*/

#map-new{
    height:200px; 
    width:33vw;
    max-width: 635px;
}

.place-form{
    width: 40vw;
    min-width: 635px;
    margin: 0 auto;
    padding: 5rem 3rem 2rem;
    background: #ffffffa8;
}

.place-form h1{
    text-align: center;
}

.location-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:5rem;
}

.location-container label{
    display: block;
    margin : 0.2rem 0;
}

.location-container input {
    width:250px;
    padding:5px;
}


.location-container #place_openingHours{
    resize:none;
    width:250px;
    font-family: "Poppins", sans-serif;
    scrollbar-width: none;
    padding-left:0.2rem;
}

.location-container textarea{
    resize:none;
    width:250px;
    height:150px;
    scrollbar-width: none;
}

.choice-container {
    margin-top:1rem;
}

#place_themes, #place_companions{
    margin: 0.5rem 0 0.5rem;
}

.choice-container input[type="checkbox"]{
    margin-right:0.5rem;
    margin-left: 1rem;
}

.new-place-form{
    /* background : linear-gradient(#ffffff, #ffffff7a, #ffffff), url(/img-source/map-background.webp); */
    background: linear-gradient(#ffffffa8, #ffffffa8), url(/img-source/map-background.webp);
    background-position-y: 59%;
    box-shadow: inset 0 1rem 2rem rgb(0 0 0 / 27%);
    background-size: cover;
    background-attachment: fixed;
}

#commune-suggestions li{
    cursor: pointer;
    background-color: white;
}


.hidden{
    display:none;
}

.new-itinerary-form h1{
    padding-top: 1.5rem;
    position:fixed;
    left:38%;
    z-index:2;
}

.new-itinerary-form h1 span{
    color:var(--light-red);
}

.new-itinerary-form{
    background: linear-gradient(#ffffff69, #ffffff69), url(/img-source/bcg-presentation-vignes.webp);
    /* height: 100%; */
    background-size: cover;
    padding: 5rem 2rem 2rem;
    height: 100vh;
    background-position-y: 87%;
}

#map-itinerary{
    height:70vh;
    width: 25vw;
    border-radius:1rem;
    position: fixed;
    top: 13%;
    right: 16%;
    
}

#custom_itinerary_intermediate_cities{
    max-height:5.55vh;
    overflow-y: scroll;
    scrollbar-width: none;
}


#itinerary-form input,
button.add_city_button,
button#custom_itinerary_valider
{
    border: none;
    background: #070a0214;
    padding: 3%;
    margin:1% 0 4%;
    border-radius: 0.5rem;
    width:100%;
}

.itinerary-form{
    padding: 1%;
    width: 20vw;
    position: fixed;
    top: 14%;
    right: 57%;

}

#itinerary-form{
    margin: 0rem auto;
    width: 73%;
    height: 100%;
    /* background: url(/img-source/bcg-presentation-vignes.webp); */
    /* background-size: cover; */
    background: #fffffff5;
    backdrop-filter: blur(6px);
    border-radius: 1rem ;
    position: relative;
}

.flying-stork-new-itinerary{
    position: absolute;
    left: 4%;
    width: 9%;
    top: 3%;
}

.itinerary-form label,
.itinerary-form p{
    display:block;
    font-size:1.1em;
    margin-bottom:0.1rem;
}

.itinerary-form p{
    /* text-align: center; */
    margin-bottom:3%;
    font-weight: 600;
}

.itinerary-form ul{
    position: absolute;
    /* background-color: #e5cece; */
    width: 90%;
}

.itinerary-form ul li{
    background-color: #ebebeb;
    border-radius: 0.5rem;
    padding: 2%;
    cursor: pointer;
    box-shadow: 0.2rem 0.2rem 1rem rgb(0 0 0 / 24%);
    transition: all 0.3s ease;

}

.itinerary-form select {
    font-size: 1em;
    padding: 0.3rem;
    border-radius: 0.4rem;
    font-family: 'Poppins';
    border-color: #39393978;
    cursor: pointer;
    margin: 0.25rem;
}



.itinerary-form ul li:hover{
    background-color: #ffffff;
}

button.add_city_button{
    cursor: pointer;
    font-size: 1em;
    font-size: 1em;
    padding: 0.3rem;
    background: white;
    border-radius: 0.4rem;
    font-family: 'Poppins';
    border: 1px solid #ffa5b078;
    transition: all 0.3s ease;
}

button.add_city_button:hover{
    color:white;
    background: var(--light-red);
}


button#custom_itinerary_valider{
    font-size: 1.1em;
    cursor:pointer;
}

.add-intermediate {
    margin-top:8%;
}

/* .add-intermediate  b{
    font-weight: 600;
} */

.delete_city_button{
    border: none;
    background: none;
    cursor: pointer;
}

.delete_city_button i{
    padding: 0.59rem;
    background: none;
    border: none;
    font-size:1.2em;
    color: var(--light-red);
}

/* -------------City detail------------------------------------------------------------------------ */
 .img-city-detail{
    width:270px;
    height:200px;
    position:relative;
    transition: all 0.4s ease;

} 

/*.img-city-detail img{
    width:100%;
} */

.scroll-container {
    /* overflow-x: auto; */
    overflow: hidden;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    width:71%;
  }
  
  .scroll-list {
    display: flex;
    flex-wrap: nowrap;
    /* justify-content: center; */
    padding: 0;
    margin: 0;
    list-style: none;
    transition: all 0.5s ease;
  }
  
  .scroll-item {
    scroll-snap-align: center;
    flex: 0 0 auto;
    /* width: 100%; */
    padding: 1rem 0.7rem;
    /* transition: all 0.5s ease; */
    /* box-sizing: border-box; */
  }
  
  /* .scroll-item h2 {
    margin: 0 0 0.5rem;
  } */
  
  .scroll-item img {
    width: 100%;
    height:100%;
    border-radius: var(--sm-border-radius);
    object-fit: cover;
    margin-bottom: 1rem;
    /* position: relative; */
  }

  /* .img-city-detail:hover{
    filter: brightness(0.6);
  } */

  .discover-city{
    color:white;
    position:absolute;
    border-radius: var(--sm-border-radius);
    transition: all 0.4s ease;
    opacity:0;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background :#00000082;
    /* backdrop-filter: blur(3px); */
  }

  .discover-city p{
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .img-city-detail:hover .discover-city{
    opacity:1;
  }
  

  .scroll-right,
  .scroll-left{
    font-size:3em;
    margin: auto 0;
    cursor:pointer;
    /* position: absolute; */
  }

#detail-city{
    width:80%;
    margin:auto;
    margin-top:2rem;
    display: flex;
}

#detail-city a {
    color: black;
}

#detail-city h1{
    font-size:2.5em;
    margin-bottom:2.5rem;
    margin-top:0.5rem;
    color:var(--red-color);
}

#detail-city h2 + p{
    color: #515151;
    margin-top:0.6rem;
}

#detail-city h2{
    font-weight: 500;
}

.type-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 0.5rem;
}

.detail-type{
    width:20%;
    padding-right:1.3rem;
}

.form-filters{
    width: 25%;
    min-height: 100vh;
    margin-right: 1rem;
    margin-top: 1.1rem;
    padding: 1rem;
    line-height: 3em;
    background-color: #a3a2a212;
    border-radius: var(--sm-border-radius);
}

.filter-title{
    margin-top: 2rem;
    font-weight:600;
}

#filters label,
#filters input{
    cursor: pointer;
}

#content{
    padding-left: 1rem;
    margin-top:1rem;
}

#detail-city i {
    transition: all 0.3s ease;
}

#detail-city i:hover{
    color: #777777;
}

#filters{
    position:fixed;
}

/* ------------ Itinerary Detail ---------------- */

#show-itinerary {
    width: 55%;
    margin: auto;
    height: 95vh;
}

#show-itinerary a{
    color:black;
}

#show-itinerary span{
    color:var(--red-color);
}

.aside-cities {
    line-height: 2.7em;
    margin-top: 3rem;
    font-size: 1.1em;
}


.itinerary-title{
    text-align: center;
    font-size: 1.5em;
    margin-top: 1.5rem;
}

.inter-cities{
    margin-left:3rem;
}

.bold{
    font-weight:500;
    margin-top:2rem;
    margin-bottom:-0.8rem;
    font-size:1.2em;
}

.title{
    font-size:1.1em;
    margin-top:2rem;
    margin-bottom:-0.8rem;
}

/* --------- Detail post by City & Place ---------- */

/* #detail-post figure{
    width:300px;
} */

.user-profile-pic-sm-circle{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50px;
}

.user-profile-pic-sm-circle img{
    height:100% !important;
}

.user-profile-pic-sm-circle-home{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50px;
}

.user-profile-pic-sm-circle-home img{
    height:100%;
}

.profile-post-detail-container{
    display: flex;
    gap: 10px;
}

#city-posts{
    width: 75%;
    margin: auto;
    margin-top:1.5rem
}

.posts-header{
    text-align:center;
}

.posts-header h2{
    font-weight: 500;
}

.posts-header h3{
    margin: 1rem auto 1.5rem;
    width: fit-content;
    background: #ffffffd9;
    font-weight: 400;
}


#city-posts h1{
    /* text-align: center; */
    font-size: 3em;
    color: var(--red-color);
}

.posts-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    height: 45vh;
}


.itineraries-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    height:45vh;
    width:75%;
    margin:auto;
}

.search-itineraries-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    /* height:45vh; */
    width:75%;
    margin:auto;
}

.last-itineraries-container{
    background: white;
    width: 80%;
    margin: auto;
    padding: 2rem 4rem 5rem;
}

.last-posts-container{
    width: 80%;
    background: white;
    margin: auto;
    padding: 2rem 4rem 3rem;
}

.post-home-container{
    height:100%;
    min-width:400px;
}


.post-content-text-home{
    height: 80%;
    margin-top:0.5rem;
    background: #ffffff;
    padding: 0.7rem 1rem;
    border-radius: var(--sm-border-radius);
    line-height:1.7em;
}

.posts-home-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    width:91%;
    margin:auto;
    /* height:45vh; */

}

.img-content-container-home{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 15px;
    /* height: 65%; */
    min-height:300px;
    margin-bottom:0.5rem;
}


.img-content-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap:25px;
    height:70%;
}


.post-figure img{
    height:100%;
}

.post-figure img{
    border-radius: var(--sm-border-radius);

}

.post-place-name{
    width: fit-content; 
    font-size: 1.1em;
    margin-bottom:0.2rem;
}

.post-place-address{
    font-size:0.9em;

}

.post-content-text{
    height: 80%;
    margin-top:1.2rem;
    background: #ffffff;
    padding: 0.7rem 1rem;
    border-radius: var(--lg-border-radius);
    line-height:1.7em;
}


.post-content{
    height:100%;
}

.post-content-home{
    background: #c5c5c554;
    padding: 0.5rem 1rem; 
    border-radius: var(--sm-border-radius);
}

.post-content h3{
    margin: 0.6rem 0 1.2rem;
    font-weight:500;
    background-color: var(--white-color);
    padding: 0.5rem;
    border-radius: var(--sm-border-radius);
    font-size: 1.1em;
}

.post-content-home h3{
    margin: 0.6rem 0;
    font-weight:500;
    background-color: var(--white-color);
    padding: 0.5rem;
    border-radius: var(--sm-border-radius);
    font-size: 1em;

}



.post-container{
    /* background: #efefef99; */
    background: #c5c5c554;
    backdrop-filter: blur(10px);
    height:100%;
    padding: 1rem;
    border-radius: var(--lg-border-radius);
}

.itinerary-container{
    /* background: #efefef99; */
    background: #ffffff9e;
    backdrop-filter: blur(20px);
    height:100%;
    min-width:325px;
    max-width:340px;
    padding: 1rem 1rem 0.5rem;
    border-radius: var(--lg-border-radius);
}

.search-itinerary-container{
    /* background: #efefef99; */
    background: #ffffff9e;
    backdrop-filter: blur(20px);
    height:100%;
    min-height:400px;
    min-width:325px;
    max-width:340px;
    padding: 1rem 1rem 0.5rem;
    border-radius: var(--lg-border-radius);
}


form[name="search_itinerary"]{
    display: flex;
    /* justify-content: center; */
    gap: 20px;
    margin-bottom: 1rem;
}

form[name="search_itinerary"] label{
    padding-right:0.5rem;
    font-size: 1.1em;
}

form[name="search_itinerary"] select,
form[name="search_itinerary"] input{
    font-family: 'Poppins';
    /* font-weight: 600; */
    padding:0.1rem;
    font-size: 1em;
}

form[name="search_itinerary"] input{
    width:70%;
}

.favorite-button {
    background: none;
    border: none;
    cursor: pointer;
}

.favorite-button i {
    font-size: 1.8em;
    color: var(--light-red);
}

.not-found-itinerary{
    text-align: center;
    background: white;
    width: 50%;
    padding: 1.5rem;
    margin: auto;
    border-radius: var(--sm-border-radius);
}

#search_itinerary_valider{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1em;
    padding: 0.1rem 0.8rem;
}


.background-post{
    position:absolute;
    z-index:-1;
}

.show-post-comments{
    display: flex;
    justify-content: space-between;
    padding: 8px 8px 0; 
}

/* ============================LOGIN FORM================================= */

.general-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background : url('/img-source/bcg-presentation-vignes.webp');
    background-attachment: fixed;
    background-size: cover;
    background-position-y: 62%;
}

.general-form a {
    color: black;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--white-background);
    border-radius: var(--lg-border-radius);
    /* height:60%; */
    width:30%;
    min-width:fit-content;
    padding:1.5% 1% 2%;
    position: relative;
}

/* .form-container form{
    width:100%;
    margin: auto;
    padding:2%;
} */

.form-container form label{
    display: block;
}

.form-container form input{
    border-color:transparent;
    outline: none;
    width:100%;
    padding: 2% ;
    margin-bottom: 0.8rem;
    border-radius : 8px;
}

.form-titles{
    text-align: center;
}

.form-titles h1{
    font-size: 1.9em;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.form-titles h2{
    margin-top: 6%;
    font-size: 1em;
    font-weight: 400;
}

.form-titles span{
    font-weight: 600;
    font-size: 2em;
}

.form-container > div{
    width:80%;
    margin: 0 auto;
}

.form-stork{
    position:absolute;
    width: 11%;
    right: 15%;
    top: 17%;
}

.semi-bold{
    font-weight: 600;
}

/* ---- Register Form ----- */

.agree-terms{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.agree-terms input[type="checkbox"]{
    width:fit-content;
    margin-right: 5px;
}

.agree-terms a{
    color: var(--red-color);
    font-weight: 600;
}

.register h1{
    text-align: center;
    font-size: 2.3em;
    color: var(--red-color);
}

.form-container.register input[type='file']{
    border-radius: var(--sm-border-radius);
    font-family: 'Poppins';
}

/* --------------------- SHOW PLACE --------------------- */

/* --------- swiper place pictures--------------------- */

.wrapper-container-place{
    width:45%;
}

.swiper-slide{
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:1rem;
    /* border-radius: var(--sm-border-radius); */

    /* margin-bottom:10%; */
}

.swiper-slide img{
    height:100%;
    border-radius: var(--sm-border-radius);
}

.swiper{
    width: 100%;
    /* height: 300px; */
    margin-left: auto;
    margin-right: auto;
    /* padding: 10px, imp !important; */
}

.mySwiper{
    height: 25%;
    /* box-sizing: border-box; */
    padding: 10px 0;
    /* border-radius: var(--sm-border-radius); */
}

.mySwiper2{
    height: 71%;
    width: 100%;
    margin-bottom:2%;
    /* border-radius: var(--sm-border-radius); */
}



.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
    /* border-radius: var(--sm-border-radius); */

  }



.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

/* ------ end swiper ------------- */


/* .visible-form{
    transform: translateY(0%);
} */

#add-place-itinerary-form{
    position: absolute;
    z-index:0;
    width:100%;
    left:0;
    padding:4%;
    transition: var(--transition-500);
    background: #f7f7f7;
    border-radius: 0 0 0.5rem 0.5rem;

}

#add-place-itinerary{
    z-index: 1;
    position: relative;
    padding: 0.2rem;
    border: none;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 0.9em;
    cursor: pointer;

}

#add-place-itinerary-form.hidden-form{
    /* display: none; */
    transform : translateY(-100%);  
    transition: var(--transition-500);
}


  .show-place{
    width: 65%;
    margin: 3% auto;
    display: flex;
    /* gap: 13%; */
    justify-content: space-between;
    max-height: 50vh;
  }

  .show-place b{
    font-weight:600;
  }

  .show-place-infos{
    width:50%;
    position:relative;
    background: #f7f7f7;
    height: fit-content;
    padding: 2%;
    border-radius: var(--sm-border-radius);
  }

  .show-place-main{
    /* height:100vh; */
    position:relative;

    /* background: url(/img-source/fond-post.webp); */
  }

  .show-place-main h1{
    /* text-align: center; */
    margin-top: 5%;
    color:var(--red-color);
    font-size:2.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }

  .show-place-main h1 i {
    font-size:0.8em;
  }

  .flying-stork-place{
    position:absolute;
    width:6%;
    left:20%;
    top:-3%;
  }

.openinghrs{
    white-space: pre;
}


.description-place{
    text-align: justify;
    position: relative;
    z-index:1;
    background: #f7f7f7;
    padding-bottom:1rem;
    /* background-color: white; */
 
}
/* ----------------------END SHOW PLACE---------------------- */

/* Breakpoint : Tablette */
/* @media (max-width: 1024px) and (min-width: 769px) 
{
    .posts-container{
        grid-template-columns: 1fr 1fr;
    } 
} */
/* Breakpoint : Smartphone */
/* @media (max-width: 768px)
{
    .posts-container{
        grid-template-columns: 1fr;
    } 
} */

