{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<a href=" {{ path('new_theme')}}">Ajouter</a>
{% for theme in themes %}
    {{ theme.name }}
    <a href="{{ path('edit_theme', {'id' : theme.id})}}">Modifier</a>
    <a href="{{ path('delete_theme', {'id' : theme.id})}}">Supprimer</a>
{% endfor %}
{% endblock %}
