{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
<main>
    <section>
        {% for post in posts %}
            {{ post.title}}
            <a href="{{ path('show_post', {'id' : post.id}) }}">Détails</a>
        {% endfor %}
    </section>
</main>

{% endblock %}
