{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<a href=" {{ path('new_companion')}}">Ajouter</a>
{% for companion in companions %}
    {{ companion.name }}
    <a href="{{ path('edit_companion', {'id' : companion.id})}}">Modifier</a>
    <a href="{{ path('delete_companion', {'id' : companion.id})}}">Supprimer</a>
{% endfor %}
{% endblock %}

